# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jsp\2019211001000902WanXinyu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
